.saludo{
    background-color: aliceblue;
    text-align: center;
    font-weight: bold;
    color:brown;

    text-transform: capitalize;

    margin:40px;

    border-radius:10px;
    border:2px solid;
    border-color: black;

    padding:10px;

    text-shadow: 3px 4px 10px black;
    
}

.saludo:hover{
    color:green;
    cursor:pointer;
}

.menu{
    background:burlywood;
    margin:50px;
    border-radius:10px;
    padding:10px;
    font-size:40px;
    text-align: center;
}

.menu-nav{
    /*border: 3px solid brown;*/
    list-style:none;
}

.menu-nav__item{
    letter-spacing:8px;    /*Mostar - exhibir*/
    display:inline-block; /*Bloque en linea*/
}

.menu-nav__item a{ 
    text-decoration: none;
}

.menu-nav__item a:hover{
    color:darkmagenta;
    font-weight:bold;
    text-decoration:underline;
    text-shadow: 3px 4px 10px white;
}

.menu-nav__item a:active{
    font-size:smaller;
}

*{
    margin:0px;
    box-sizing: border-box;
}


main{
    border:2px solid gold;
    margin:15px;
    padding:25px;
    background-color:gainsboro;
    letter-spacing:3.4px;
}

main:hover{
    border-radius: 45px;

}

h2{
    margin:10px;
    text-align: center  ;
}

p{
    padding:5px;
    text-align:justify;    
}


/*Tipo de elemento y botones 16 06 2022*/
.Telemento{
    margin:20px;

}


.btn{
    padding:15px;
    margin:12px;
    font-family: sans-serif;
    font-size: 14px;
    background:darkmagenta;
    font-weight: bold;
    color:white;
    border-radius: 5px;
    border-style:none;
}

.btn:hover{
    opacity:0.7;
    cursor: pointer;
    /*text-decoration: underline;*/
    font-size: 18px;

}

.small{
    padding: 12px;
    font-size:12px;
}

.medium{
    padding:15px;
    font-size:16px;

}

.big{
    padding:18px;
    font-size:18px;
}

.green{
    background-color:limegreen;
}

.blue{
    background-color:mediumblue;
}

.orange{
    background-color:coral;
}
